.search {
  position: relative;
  display: flex;
  min-width: 100px;
  justify-content: right;
}

.input {
  border: 1px solid lightgray;
  width: 90%;
}
button {
  border: 1px solid transparent;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #008cba;
  background: honeydew;
}
button:hover {
  background-color: #83aec3;
  color: honeydew;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input,
.button {
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  font-family: "Amaranth", sans-serif;
}

.error {
  padding-top: 0.25em;
  margin: 0.5em;
}

@media (max-width: 530px) {
  .search {
    margin: 1em;
  }
}
