label {
  /* cursor: pointer;
  user-select: none; */
}
.search {
  position: relative;
  display: flex;
  min-width: 100px;
  justify-content: center;
}

.input {
  border: 1px solid lightgray;
  width: 90%;
  /* border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  padding: 2px 23px 2px 30px;
  background-color: #f5f5f5;
  font-family: "Amaranth", sans-serif;
  padding: 10px;
  display: inline-block; */
}
search .button {
  border: 1px solid transparent;
  transition-duration: 0.4s;
  cursor: pointer;
}
search .button:hover {
  background-color: #83aec3;
  color: honeydew;
}

.input,
.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  font-family: "Amaranth", sans-serif;
  /* border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  padding: 2px 23px 2px 30px;
  background-color: #f5f5f5;
  font-family: "Amaranth", sans-serif;
  padding: 10px;
  display: inline-block; */
}

.error {
  padding-top: 0.25em;
  margin: 0.5em;
}

@media (max-width: 530px) {
  .search {
    margin: 1em;
  }
}
